.app {
  display: flex;
  justify-content: center;
}
/*
 Main Title
*/
.nav-wrapper {
  width: 100%;
  height: 5rem;
  text-align: center;
  font-size: 3rem;
  color: #BF955A;
  font-weight: bold;
  background: #423A34;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-wrapper i {
  display: none;
}

.main-title {
  width: 80%;
}

/*
  Map part
*/

.map-container {
  width: 75%;
  height: 700px;
}

/*
  Controller Part
*/
.input-wrapper {
  width: 90%;
  border-bottom: 0.5px solid gray;  
}

.controller-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controller-container input {
  width: 90%;
  height: 40px;
  margin-top: 1rem; 
  font-size: 1rem;
  padding-left: 0.7rem;
  border: none;
  position: relative;
}

.venue-list-wrapper {
  width: 90%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.venue-list {
  font-size: 0.9rem;
  width: 100%;
  height: 40px;
  background: #BF955A;
  margin-bottom: 2px;
  vertical-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}

.venue-list span {
  color: #423A34;
  font-weight: bold;
}

.list-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 0.7rem;
  margin-right: 0.6rem;
}

.gm-style-iw {
  display: flex;
  justify-content: center;
}

.infowindow-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.infowindow-wrapper img {
  margin-bottom: 0.6rem;
}

.infowindow-wrapper p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
  font-size: 0.9rem;
  color: #423A34;
}

@media screen and (max-width: 1150px) {
  .nav-wrapper {
    font-size: 2.5rem;
    height: 4rem;
  }

  .venue-list {
    font-size: 0.7rem;
    height: 35px;
  }

  .list-image {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 950px) {
  .nav-wrapper {
    font-size: 1.8em;
    height: 3rem;
  }

  .venue-list {
    font-size: 0.5rem;
    height: 30px;
  }

  .list-image {
    width: 20px;
    height: 20px;
  }

  .input-wrapper i {
    font-size: 0.8rem;
  }

  .controller-container input {
    height: 30px;
    margin-top: 1rem; 
    font-size: 0.8rem;
  }  
}

@media screen and (max-width: 700px) {
  .nav-wrapper {
    font-size: 1.2em;
    height: 3rem;
  }

  .main-title {
    width: 90%;
  }

  .venue-list {
    font-size: 0.2rem;
    height: 25px;
  }

  .list-image {
    width: 20px;
    height: 20px;
  }

  .input-wrapper i {
    font-size: 0.5rem;
  }  

  .controller-container input {
    height: 30px;
    margin-top: 1rem; 
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 650px) {  
  .nav-wrapper {
    font-size: 0.9rem;
  }

  .nav-wrapper i {
    display: inline;
    cursor: pointer;
  }

  .app {
    flex-direction: column;
    justify-content: center;
  }

  .controller-container {
    display: none;
    width: 100%;
    
  }

  .map-container {
    width: 100%;
  }
}


